<article class="recipient js_recipient" id="<%= recipient.id %>">
  <input type="checkbox" id="<%= recipient.id %>" class="recipient__input js_recipient-input">

  <span class="recipient__input-placeholder" role="input placeholder"></span>

  <%= image_tag 'image-placeholder-small-green.svg', class: "recipient__image" %>

  <section class="recipient__details">
    <p class="recipient__title"><%= recipient.name %></p>

    <p class="recipient__text"><%= recipient.email %></p>
  </section>

  <label for="<%= recipient.id %>" class="recipient__label"><%= prices[index] %></label>
</article>
